.galleryboxs{
    padding: 30px;
    width: calc(100% - 60px);
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallerybox{
    margin: 0 5px;
}
.gallerybox img{
    object-fit: cover;
    width: 200px;
    height: 150px;
}
.gallerybox .gbbox{
    position: relative;
}
.gallerybox .gbbox:hover img{
    opacity: .2;
}
.gallerybox .gbedit{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}
.gallerybox .gbdelete{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}